LegalPubClient/Service References/ServiceReference1/PublicationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PublicationService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PublicationService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfdocumentfile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="documentfile" nillable="true" type="tns:documentfile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdocumentfile" nillable="true" type="tns:ArrayOfdocumentfile" />
  <xs:complexType name="documentfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="documentfile" nillable="true" type="tns:documentfile" />
  <xs:complexType name="ArrayOfuser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="user" nillable="true" type="tns:user" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfuser" nillable="true" type="tns:ArrayOfuser" />
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="user" nillable="true" type="tns:user" />
</xs:schema>